*{
	font-size:20px;
	font-weight:500; 
	font-family:arial;
}
img {
	margin-left: auto;
    margin-right: auto;
    width:400px;        display: block;

}
.blah{
	font-size:40px}
.bleh{
	font-size:20px;
}
